div{
    width:100px;
    height:100px;
    background-color: aquamarine;
    position: absolute;
    top:100px;
    left:100px;
    border-radius:20px;
    animation-duration: 2s;
    animation-delay: 1s;
    /* animation-timing-function: ease-in; */
    animation-name: coloranimate;
    animation-iteration-count: 6;
}
@keyframes coloranimate{
    /* from{background-color: aquamarine;}
    to{background-color: black;} */
    from{left:0px;}
    to{left:45px;}
}