div{
    height: 100px;
    width:100px;
    background-color: beige;
    border:0px solid black;
    display:inline-block
}
#box1{
    position: static;
    z-index:-2;    
}
#box2{
    position: relative;
    top:20px;
    left:10px;
    z-index:1;    background-size: cover;
    background-image: url(OIP.jpeg);
}
#box3{
    position: absolute;
    z-index:-1;
    top:400px;
    left: 400px;
    background-size: auto;
    background-image: url(OIP.jpeg);
}
#box4{
    position: fixed;
    z-index:1;
    left: 300px;
    background-size: contain;
    background-image: url(OIP.jpeg);
}
body{
    background-size: cover;
    background-image: url(OIP.jpeg);
}