#id1{
    height:100px;
    width: 100px;
    border-radius: 5%;
    border-color: black;
    background-color: rgb(202, 232, 222);
    text-align: center;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}
id2{
    height:100px;
    width: 100px;
    border-radius: 5%;
    border-color: black;
    background-color: rgb(194, 231, 218);
    text-align: center;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}