*{
    margin:0px;
    padding:0px;
    text-align: center;
}
body{
    background-color: #FD96A9;
}

/* Div 1 :CHOICES*/

h1{
    background-color: #081b31;
    color: white;
    height:5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap:3rem;
}
.choice{
    margin-top: 2rem;
    width:150px;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.choice:hover{
    background-color: rgba(41, 36, 112, 0.397);
    cursor:pointer;
}
img{
    height:145px;
    width:145px;
    align-self: center;
    border-radius: 50%;
}

/* Div-2 :SCOREBOARD */

.scoreBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    margin-top: 3rem;
    font-size: 2rem;

}
/* Div-3 :MSESSAGE CONTAINER */

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color:#081b31 ;
    color:white;
    line-height: 5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem ;
}