<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
     <form method="post">  <!--// by deault get  -->
        <input placeholder="enter username" name="username"/>
        <br/><br/>
        <textarea placeholder="enter your content" name="content"></textarea>
        <br/><br/>
        <button>Submit</button>
    </form>
</body>
</html>